<h1>Empleados Registrados</h1>
  <div>
    <table   mat-table  [dataSource]="empleados"   class="mat-elevation-z8" >

      <ng-container matColumnDef="documento">
        <th mat-header-cell *matHeaderCellDef> Numero de Documento </th>
        <td mat-cell *matCellDef="let empleado"> {{ empleado.documento}} </td>
      </ng-container>

      <ng-container matColumnDef="nombres">
        <th mat-header-cell *matHeaderCellDef> Nombres </th>
        <td mat-cell *matCellDef="let empleado"> {{ empleado.nombres}} </td>
      </ng-container>
      <ng-container matColumnDef="apellidos">
        <th mat-header-cell *matHeaderCellDef> Apellidos </th>
        <td mat-cell *matCellDef="let empleado"> {{ empleado.apellidos}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>


  </div>
